[submodule "themes/maupassant"]
	path = themes/maupassant
	url = https://github.com/flysnow-org/maupassant-hugo.git
[submodule "public"]
	path = public
	url = https://github.com/yulene/yulene.github.io.git
	branch = main
